/* ============== COMMON STYLES ============== */

body {
   font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:  #FFFFFF;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.accent-color {
    color: #2E2F42;
}
/* ================= /COMMON STYLES ================= */

/* ================= HEADER STYLES ================= */

.logotype {  
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
color: #2E2F42;
}

.header-name {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.header-span {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
color: #2E2F42;
}

.menu-link {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
color: #2E2F42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
    background-color: #2e2f42;
}

.menu-contact-link {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
color: #434455;
}

.menu-contact-link:hover,
.menu-contact-link:focus {
    color: #404BBF;
}

.contact-list {
font-style: normal; 

}

/* ============== /HEADER STYLES ============== */

/* ============== HERO STYLES ============== */

.main-title {
font-family: "Roboto", sans-serifo;
font-size: 56px;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 0.02em;
color: #ffffff;
width: 496px;
background-color:#2E2F42;
text-align: center;
width: 1440px;
height: 600px;
}

.order-service-btn {
  font-family: "Roboto", sans-serif;
  font-size: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4D5AE5;
  color: #ffffff;
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404BBF;;
  color:#ffffff;
  padding: 16px 32px;
}

/* ============== /HERO STYLES ============== */

/* ============== BENEFITS STYLES ============== */

.benefits-color {
background-color: #F4F4FD;
}

.benefits-list-title {
font-family: "Roboto", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
color: #2E2F42;
background-color: #F4F4FD;
 } 
  
.benefits-list-text {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
color: #434455;
background-color: #F4F4FD;
}
/* ============== /BENEFITS STYLES ============== */

/* ============== OUR TEAM STYLES ============== */

.team-section-title {
font-family: "Roboto", sans-serifo;
font-size: 36px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2E2F42;
background-color: #F4F4FD
}

.team-members-title {
font-family: "Roboto", sans-serifo;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
background-color: #FFFFFF
}

.team-members-position {
font-family: "Roboto", sans-serifo;
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
color: #434455;
}
/* ============== OUR TEAM STYLES ============== */

/* ============== OUR PORTFOLIO STYLES ============== */

.title-two {
font-family: "Roboto", sans-serifo;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;  
}

.title-three {
font-family: "Roboto", sans-serifo;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.paragraph {
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
color: #434455;
}

/* ============== OUR PORTFOLIO STYLES ============== */

/* ============== FOOTER STYLES ============== */

.page-footer {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.1; 
letter-spacing: 0.03em;
color: #2E2F42);
}

.footer-span {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
color: #F4F4FD;
}

.footer-logo {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
background-color: #2e2f42 
}

.footer-text {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
width: 1440px;
height: 312px;
color: #F4F4FD;
background-color: #2e2f42;
}

/* ============== FOOTER STYLES ============== */

